<div class="template about">
  <h2>About</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi expedita aperiam dignissimos culpa iure ad voluptates vel distinctio est, aliquid ullam voluptatibus doloremque dicta libero praesentium voluptatem provident reiciendis cupiditate?
    Esse aut mollitia incidunt iure ipsa eum earum nemo maiores eos consequuntur deleniti cupiditate doloribus sequi, fugit itaque blanditiis excepturi similique adipisci repellat enim. Alias atque numquam quis quaerat at?
    Voluptate in repellendus similique distinctio veritatis quae, illum quibusdam quaerat minus facilis eveniet excepturi ratione dolores, animi maxime rem at nostrum velit repellat exercitationem fuga ducimus. Optio, consequatur laudantium? Dolorem!
    Itaque quas ad sapiente doloremque debitis aspernatur neque optio, consectetur iure magnam reiciendis rerum atque quaerat, possimus voluptatem commodi necessitatibus saepe quos quis, inventore fugit explicabo earum? Autem, assumenda fugit.
    Provident sequi quam id aspernatur explicabo enim esse quo dolorem accusamus ipsam omnis eos, exercitationem hic sunt cupiditate doloribus. Esse et ipsa obcaecati numquam error. Dolorum debitis ex maxime nobis?
  </p>
</div>