<div class="template">
  <h2>Photos</h2>
  <p>
    Displaying some pictures of works
  </p>
  <div class="photos-container">
    <div class="img-container">
      <div class="img photos"><img src="/img/photos/wg1.webp" alt="wonderghost" /></div>
      <div class="img photos"><img src="/img/photos/wg2.webp" alt="wonderghost" /></div>
      <div class="img photos"><img src="/img/photos/wg3.webp" alt="wonderghost" /></div>
    </div>
    <div class="img-container">
      <div class="img photos"><img src="/img/photos/pt1.webp" alt="wonderghost" /></div>
      <div class="img photos"><img src="/img/photos/pt2.webp" alt="wonderghost" /></div>
      <div class="img photos"><img src="/img/photos/pt3.webp" alt="wonderghost" /></div>
    </div>
    <div class="img-container">
      <div class="img photos"><img src="/img/photos/tl1.webp" alt="wonderghost" /></div>
      <div class="img photos"><img src="/img/photos/tl2.webp" alt="wonderghost" /></div>
      <div class="img photos"><img src="/img/photos/tl3.webp" alt="wonderghost" /></div>
    </div>
  </div>
</div>