<div class="template">
  <h2>Works</h2>
  <p>
    Some of the work of the person
  </p>
  <div class="img-container">
    <div class="card">
      <div class="img"><img src="/img/works/wonderghost-min.webp" alt="wonderghost" /></div>
      <a href="https://wonderghost.leandropereyra.com/" target="_blank" rel="noopener noreferrer">Wonder Ghost</a>
      <h3>Juego con JavaScript</h3>
      <p>Proyecto del módulo I - IronHack</p>
      <p>HTML | CSS | JavaScript</p>
    </div>
    <div class="card">
      <div class="img"><img src="/img/works/peces-min.webp" alt="peces" /></div>
      <a href="https://peces.vercel.app/" target="_blank" rel="noopener noreferrer">Tropical Fishes</a>
      <h3>Tropical Fishes</h3>
      <p>Handy database connection</p>
      <p>Next.JS | MongoDB Atlas</p>
    </div>
    <div class="card">
      <div class="img"><img src="/img/works/listatareas-min.webp" alt="listatareas" /></div>
      <a href="https://todolist.leandropereyra.com/" target="_blank" rel="noopener noreferrer">ToDo List</a>
      <h3>ToDo App Web</h3>
      <p>ToDo App Web</p>
      <p>React.JS | TailWind | JavaScript</p>
    </div>
  </div>
</div>